<div class="footer pt-5">
    <div class="footer-links container">
        <div class="footer-links_logo" >
            <!-- <img src="assets/logo.png" alt=""> -->
             <h2>CORGY</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde voluptatem assumenda minus, dolore eveniet eum?</p>
            <div class="icon-bun" >
                <i class="bi bi-instagram" style="padding-right: 0.5rem;"></i>
                <i class="bi bi-twitter-x" style="padding: 0 0.5rem;"></i>
                <i class="bi bi-facebook" style="padding: 0 0.5rem;"></i>
                <i class="bi bi-tiktok" style="padding-left: 0.5rem;"></i>
            </div>
        </div>

        <div class="footer-links_div">
            <h4>Categories</h4>
            <p>Jackets</p>
            <p>Shirts</p>
            <p>Bottoms</p>
            <p>Skirts</p>
            <p>Denim</p>
        </div>

        <div class="footer-links_div">
            <h4>Customer Care</h4>
            <p>FAQ</p>
            <p>Order Status</p>
            <p>Shipping</p>
            <p>Return Policy</p>
            
        </div>
        <div class="footer-links_div">
            <h4>Company</h4>
            <p>Privacy</p>
            <p>Our Blog</p>
            <p>Terms and Conditions</p>
            
        </div>
    </div>

    <div class="footer-copyright">
        <p>&COPY; 2024 Light work. Omo no rights dey reserved. MIDE</p>
    </div>
</div>
