<div class="footer pt-5">
    <div class="footer-links container">
        <div class="footer-links_logo" >
            <!-- <img src="assets/logo.png" alt=""> -->
             <h2>DOZY</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde voluptatem assumenda minus, dolore eveniet eum?</p>
            <div class="icon-bun" >
                <i class="bi bi-instagram" style="padding-right: 0.5rem;"></i>
                <i class="bi bi-twitter-x" style="padding: 0 0.5rem;"></i>
                <i class="bi bi-facebook" style="padding: 0 0.5rem;"></i>
                <i class="bi bi-tiktok" style="padding-left: 0.5rem;"></i>
            </div>
        </div>

        <div class="footer-links_div">
            <h4>Useful Links</h4>
            <p routerLink="/">Home</p>
            <p routerLink="/about">Biography</p>
            <p routerLink="/ventures">Achievements</p>
            <p routerLink="/blog">Blog</p>
            <p routerLink="/contact">Contact Me</p>
        </div>

        <div class="footer-links_div">
            <h4>Find Me</h4>
            <p>Dozymail.com</p>
            <p>Victoria Island, Lagos, Nigeria</p>
            <p>+234 804 661 6151</p>
            
            
        </div>
        
    </div>

    <div class="footer-copyright">
        <p>&COPY; 2025 DOZY MMOBUOSI</p>
    </div>
</div>
