<app-navbar></app-navbar>


<!-- Main About  -->
<div class="container mt-5 mb-3">
    <div class="row">

        <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
            data-aos-easing="ease-in-out">
            <p style="color: gray;" data-aos="fade-up" data-aos-easing="ease-in-out">MEET DOZY</p>
            <h4 style="font-size: 2.5rem;font-weight: 700; margin-bottom: 15px;">An African Tech Entrepreneur
                Changing the Face of Agriculture</h4>

            <p class="smalltext" style="width: 100%; line-height: 2rem;">Dozy Mmobuosi, is a Nigerian businessman,
                and tech entrepreneur. An advocate for technological advancement in Africa</p>
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>

            <div class="explore-btn">
                <a href="#" class="exp">Learn More</a>
            </div>
        </div>

        <div class="col-lg-6 col-12 mt-5 joltImg" data-aos="zoom-in" data-aos-easing="ease-in-out">
            <img src="../../assets/body3.jpg" alt="">
        </div>
    </div>
</div>


<div class="container mt-5 mb-3" >
    <div class="row">

        <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
            data-aos-easing="ease-in-out">
            <p style="color: gray;" data-aos="fade-up" data-aos-easing="ease-in-out">01 ──────── EARLY LIFE</p>
            <h4 style="font-size: 7.5rem;font-weight: 700; margin-bottom: 15px; font-family: Sansita Swashed, system-ui;">1990- <br> 2001</h4>
        </div>

        <div class="col-lg-6 col-12 mt-5 joltImg2" data-aos="zoom-in" data-aos-easing="ease-in-out">
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>
                <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                    provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                    founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                    launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                    digital platform</p>
            <!-- <img src="../../assets/body3.jpg" alt=""> -->
        </div>
    </div>
</div>

<div class="container mt-5 mb-3" >
    <div class="row">

        <div class="col-lg-6 col-12 mt-5 joltImg2" data-aos="zoom-in" data-aos-easing="ease-in-out">
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>
                <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                    provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                    founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                    launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                    digital platform</p>
            <!-- <img src="../../assets/body3.jpg" alt=""> -->
        </div>

        <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
        data-aos-easing="ease-in-out">
        <p style="color: gray;font-weight: 700; margin-bottom: 15px; display: flex; align-items: flex-end; justify-content: flex-end;" data-aos="fade-up" data-aos-easing="ease-in-out">01 ──────── EARLY CAREER</p>
        <h4 style="font-size: 7.5rem;font-weight: 700; margin-bottom: 15px; display: flex; align-items: flex-end; justify-content: flex-end; font-family: Sansita Swashed, system-ui;">2001- <br> 2005</h4>
    </div>
    </div>
</div>

<div class="container mt-5 mb-3" >
    <div class="row">

        <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
            data-aos-easing="ease-in-out">
            <p style="color: gray;" data-aos="fade-up" data-aos-easing="ease-in-out">03 ──────── PHILANTHROPY</p>
            <h4 style="font-size: 7.5rem;font-weight: 700; margin-bottom: 15px; font-family: Sansita Swashed, system-ui;">2005- <br> Present</h4>
        </div>

        <div class="col-lg-6 col-12 mt-5 joltImg2" data-aos="zoom-in" data-aos-easing="ease-in-out">
            <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                digital platform</p>
                <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                    provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                    founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                    launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                    digital platform</p>
            <!-- <img src="../../assets/body3.jpg" alt=""> -->
        </div>
    </div>
</div>