<app-navbar></app-navbar>

<div class="">
    <div class="container mt-5 mb-3" >
        <div class="row">
            
            <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up" data-aos-easing="ease-in-out">
                <h4 style="font-size: 2rem;font-weight: 700; margin-bottom: 15px;" data-aos="fade-up" data-aos-easing="ease-in-out">Get In Touch</h4> 
                <p class="smalltext" style="margin-bottom: 2rem;" data-aos="fade-up" data-aos-easing="ease-in-out">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, numquam voluptatem aliquam consequuntur cumque accus!</p>
                <form>
                    <div class="arc-central" data-aos="fade-up" data-aos-easing="ease-in-out">
                        <div class="mb-3" style="margin-right: 1rem;">
                            <label for="exampleInputEmail1" class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-easing="ease-in-out">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
                      
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-easing="ease-in-out">
                      <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                      <input type="number" class="form-control" placeholder="+234-" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="" >
                        <label for="exampleInputPassword1" class="form-label">Leave us a message</label>
                        <textarea class="form-control" placeholder="" id="floatingTextarea"></textarea>
                        
                      </div>
                  </form>

                <div class="explore-btn" type="submit" routerLink="/">
                    <a href="#" class="exp">Submit</a>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-5 joltImg" data-aos="zoom-in" data-aos-easing="ease-in-out">
                <img src="../../assets/chat.png" alt="" >
            </div>
        </div>
    </div>
</div>