<app-navbar></app-navbar>

<div class="">

    <!-- Hero section  -->
    <div class="">
        <div class="banner" data-aos="fade-up" data-aos-easing="ease-in-out" >
            <div class="content">
                <h1 class="mb-3" data-aos="fade-up" data-aos-easing="ease-in-out" >GQ Business Leader <br> Of The Year
                </h1>
                <div class="" data-aos="fade-up" data-aos-easing="ease-in-out" >
                    <p style="font-size: 14px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, sed. Velit quidem quia
                        aliquam possimus, hic suscipit quas cum accusamus?
                    </p>
                </div>

                <div class="explore-btn">
                    <a href="" class="exp" routerLink="/about">Read More</a>
                </div>
            </div>

            <div class="content-bottom" data-aos="fade-up" data-aos-easing="ease-in-out" >
                <p style="text-align: center; font-size: 14px;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex commodi excepturi optio nesciunt
                    recusandae officia similique perferendis cumque deserunt quod?
                </p>
            </div>
        </div>
    </div>

    <!-- Intro Mini  -->
    <div class="container mt-5 mb-3">
        <div class="row">


            <div class="hometextcontainer" data-aos="fade-up" data-aos-easing="ease-in-out" >
                <p class="bigtext">Welcome to the Official Site of Dozy Mmobuosi</p>
                <p class="smalltext">Step into the world of Dozy Mmobuosi. Discover the inspiring journey,
                    groundbreaking achievements, and visionary ventures of one of the world's foremost business leaders.
                </p>
            </div>



        </div>
    </div>

    <!-- About Mini  -->
    <div class="container mt-5 mb-3">
        <div class="row middleware">

            <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
                data-aos-easing="ease-in-out">
                <p style="color: gray;" data-aos="fade-up" data-aos-easing="ease-in-out">MEET DOZY</p>
                <h4 style="font-size: 2.5rem;font-weight: 700; margin-bottom: 15px;">An African Tech Entrepreneur
                    Changing the Face of Agriculture</h4>

                <p class="smalltext" style="width: 100%; line-height: 2rem;">Dozy Mmobuosi, is a Nigerian businessman,
                    and tech entrepreneur. An advocate for technological advancement in Africa</p>
                <p class="smalltext" style="width: 100%; line-height: 2rem;">In 2001, Mmobuosi founded Tingo Mobile to
                    provide mobile technology and Fintech solutions to rural communities in Nigeria. In 2015, Mmobuosi
                    founded Tingo Inc., a publicly traded company on the OTC Markets Group. In January 2019, Mmobuosi
                    launched Nwassa, a digital Agri-Marketplace that is Africa’s first agricultural technology and
                    digital platform</p>

                <div class="explore-btn">
                    <a href="#" class="exp" routerLink="/about">Read More</a>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-5 joltImg" data-aos="zoom-in" data-aos-easing="ease-in-out">
                <img src="../../assets/h2.jpg" alt="">
            </div>
        </div>
    </div>


    <!-- MINI News  -->
    <div class="container mt-5 mb-3">
        <div class="row">

            <div class="col-lg-6 col-12 mt-5 joltImg" data-aos="zoom-in" data-aos-easing="ease-in-out">
                <img src="../../assets/head5.jpg" alt="">
                <h4 style="font-size: 1rem; margin: 15px 0px; ">An African Tech Entrepreneur Changing the Face of
                    Agriculture</h4>
                <p class="smalltext" style="width: 100%; line-height: 2rem;">March 3rd, 2025.</p>
                <div class="explore-btn">
                    <a href="#" class="exp" routerLink="/blog">Read More</a>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-5" style="align-content: center;" data-aos="fade-up"
                data-aos-easing="ease-in-out">
                <div class="side-news" style="height: 100%; align-items: center; justify-content: space-around;">
                    <div class="news-item">
                        <img src="../../assets/vil1.jpg" alt="News 1">
                        <div class="news-text">
                            <h4>My Keynote Address at the Cameroon Economic Meeting</h4>
                            <p>March 3rd, 2025</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="../../assets/vil2.jpg" alt="News 2">
                        <div class="news-text">
                            <h4> Leadership Forum 2025: Public and Private Sector Leaders Unite</h4>
                            <p>March 3rd, 2025</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="../../assets/im1.jpg" alt="News 3">
                        <div class="news-text">
                            <h4>From Dubai to Ethiopia: Forging Partnership, Promoting Peace</h4>
                            <p>March 3rd, 2025</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="../../assets/im2.jpg" alt="News 4">
                        <div class="news-text">
                            <h4> Foundation Partners with UAE Office of Development Affairs</h4>
                            <p>March 3rd, 2025</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="../../assets/im3.jpg" alt="News 4">
                        <div class="news-text">
                            <h4> Partners with UAE Office of Development Affairs</h4>
                            <p>March 3rd, 2025</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!-- Mini gallery -->
    <div class="container py-5" id="service">
        <!-- manage text -->
        <div class="text-center mb-5">
            <h1 class="display-6 fw-semibold mb-4" data-aos="fade-up" data-aos-easing="ease-in-out">
                My LifeStyle
            </h1>
            <p class="text-muted lead" data-aos="fade-up" data-aos-easing="ease-in-out">Dozy's Lifestyle?</p>
        </div>

        <!-- manage card -->
        <div class="row g-4 justify-content-center">
            <div *ngFor="let pack of packages" class="col-md-4 col-lg-4">
                <!-- Card with just the image -->
                <div class="card text-center border-0 shadow-sm m-2" style="height: 50vh;" data-aos="fade-up"
                    data-aos-easing="ease-in-out">

                    <img [src]="pack.green" alt="" class="img-fluid w-100 h-100 object-fit-cover">
                </div>

                <!-- Text content below the card -->
                <div class="mt-3 text-center" data-aos="fade-up" data-aos-easing="ease-in-out">
                    <!-- <img [src]="pack.green" alt="{{ pack.name }}" class="img-fluid mx-auto d-block mb-3"> -->
                    <h5 class=" fw-bold" style="color: #586BA4;">{{ pack.name }}</h5>
                    <p class="text-muted">{{ pack.description }}</p>
                </div>
            </div>
        </div>
        <div class="explore-btn" style="align-items: center; justify-content: center; display: flex;">
            <a href="#" class="exp" routerLink="/gallery">View More</a>
        </div>
    </div>


    <!-- Moving Text  -->
    <div class="position-relative overflow-hidden" style="height: 10rem; font-family: Ubuntu, sans-serif">
        <div class="position-absolute start-0 end-0 scrolling-text">
            <span class="text-transparent px-lg-4 py-2 text-size fw-semibold text-uppercase text-stroke">Our reputed
                worldwide partners</span>
        </div>
    </div>

    <!-- Partners  -->
    <div class="container d-flex justify-content-center align-items-center mb-5" data-aos="fade-up"
        data-aos-easing="ease-in-out">
        <div class="row g-4 align-items-center justify-content-center text-center"
            style="max-width: 600px; width: 100%;">
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="../../assets/lg1.png" alt="/" class="img-fluid" style="max-width: 100px; height: auto;">
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="../../assets/lg2.png" alt="/" class="img-fluid" style="max-width: 100px; height: auto;">
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="../../assets/lg3.png" alt="/" class="img-fluid" style="max-width: 100px; height: auto;">
            </div>
            <div class="col-6 col-sm-4 col-lg-3">
                <img src="../../assets/lg4.png" alt="/" class="img-fluid" style="max-width: 100px; height: auto;">
            </div>
        </div>
    </div>


    <!-- Mini banner  -->
    <!-- <div class="banner-about d-flex align-items-center justify-content-center" data-aos="fade-up"
        data-aos-easing="ease-in-out">
        <div class="overlay"></div>
        <div class="bg-text">
            <p style="font-size: 1.5rem;">
                Years from now, I believe that my legacy will not be defined by my material successes … but by this
                unwavering commitment to developing and strengthening African entrepreneurship. This is what will stand
                the test of time</p>

        </div>
    </div> -->


    <div class="">
        
        <div class="scrollinghero">
            <div class="overlay"></div>
         
            <p class="scrolltext">
                Years from now, I believe that my legacy will not be defined by my material successes … but by this
                unwavering commitment to developing and strengthening African entrepreneurship. This is what will stand
                the test of time</p>
        </div>
    
        
           
    </div>



    <!-- Blog  -->
    <!-- <div class="container">
        <section class="blog-section">
           

            <div class="blog-header" style="text-align: center;" data-aos="fade-up" data-aos-easing="ease-in-out">
                <h3 class="blog-title">Our Blog</h3>
                <h2 class="display-6 fw-semibold mb-4">Explore recent works</h2>
                
                <div class="explore-btn" style="margin-top: 1.5rem;">
                    <a href="#" class="exp" routerLink="/blog">View More <i class="bi bi-caret-right"></i></a>
                </div>
            </div>

            <div class="blog-grid" style="color: white;" data-aos="fade-up" data-aos-easing="ease-in-out">
                <div class="blog-card">
                    <img src="../../assets/in1.jpg" alt="Dragon Ball figurine">
                    <div class="blog-card-content">
                        <div class="blog-date">07 Mar 2022</div>
                        <h3 class="blog-card-title">How to keep fear from ruining your art business with confident</h3>
                    </div>
                </div>

                <div class="blog-card">
                    <img src="../../assets/in1.jpg" alt="Black chair">
                    <div class="blog-card-content">
                        <div class="blog-date">17 Mar 2022</div>
                        <h3 class="blog-card-title">A.I becomes more powerful day by day with new approaches</h3>
                    </div>
                </div>

                <div class="blog-card">
                    <img src="../../assets/in1.jpg" alt="Color smoke">
                    <div class="blog-card-content">
                        <div class="blog-date">20 Mar 2022</div>
                        <h3 class="blog-card-title">Local SEO is a very essential role play for new websites</h3>
                    </div>
                </div>
            </div>


        </section>
    </div> -->

    <div class="container mt-5 mb-3">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Dive into some of Dozy's public Interviews.</h1>
        </div>
        <div class="slider-container">
            <div class="slider" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
                <div class="slide" *ngFor="let video of videos">
                    <iframe [src]="video" allowfullscreen></iframe>
                </div>
            </div>
            <button class="prev" (click)="moveSlide(-1)">&#10094;</button>
            <button class="next" (click)="moveSlide(1)">&#10095;</button>
        </div>
    </div>
    






</div>